.bigButtonPrimary {
    background: #3F2F67;
    border: 1px solid #3F2F67,
}

.bigButtonPrimary:hover {
    transition: background 0.3s ease;
    background: #210d53;
}

button.bigButtonPrimary:disabled {
    background: #6774bf;
    opacity: 0.5;
    border: 1px solid transparent;
    cursor: not-allowed;
}

.bigButtonWarning {
    background: #B00020;
    color: white;
    border: 1px solid #B00020;
}

.bigButtonWarning:hover {
    transition: background 0.3s ease;
    background: #680114;
}

button.bigButtonWarning:disabled {
    background: #B00020;
    opacity: 0.5;
    border: 1px solid transparent;
    cursor: not-allowed;
}

.bigButtonSecondary {
    background: white;
    color: #3F2F67;
    border: 1px solid #3F2F67;
}

.bigButtonSecondary:hover {
    transition: background 0.3s ease;
    background: #EFEFEF;
}

button.bigButtonSecondary:disabled {
    background: rgb(211, 211, 211);
    opacity: 0.5;
    border: 1px solid transparent;
    cursor: not-allowed;
}

.smallButtonWarning {
    background: "white";
    color: #B00020;
    border: "1px solid transparent";
    font-weight: "bold";
}

.smallButtonWarning:hover {
    color: #B00020;
    font-weight: 500;
    transition: color 0.3s ease;
}

button.smallButtonWarning:disabled {
    opacity: 0.3;
    font-weight: 500;
    border: 1px solid transparent;
    cursor: not-allowed;
}
